/target
Cargo.lock
.git/
.vscode/
/temp/
/src/env/bin/lucia.exe
/src/env/bin/lucia
!src/env/bin/
/src/tests/
/tests/run_tests.exe
/tests/run_tests
/tests/run_benchmarks.exe
/tests/run_benchmarks
/tests/benchmark-results/
tests/stdout
tests/stdout/*